.hsm-banner-bound{
	background:url(images/home/banner-bg.gif) repeat-x;
	height:57px;	
}
.hsm-banner-bound .hsm-logo{
	background:url(images/home/hms-logo.gif) no-repeat 0% 0%;
	float:left;
	width:176px;
	height:37px;
	margin-left:20px;
	margin-top:10px;
}
.hsm-banner-bound .hsm-menu{
	float:left;
	padding-top:28px;
	padding-left:20px;
}
.hsm-banner-bound .hsm-menu .menu-item{
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	width:116px;
	height:29px;
	text-align:center;
	line-height:29px;
	float:left;
}
.hsm-banner-bound .hsm-menu .menu-item.selected,.hsm-banner-bound .menu .menu-item:hover{
	text-decoration:none;
	font-weight:bold;
	color:#003399;
	background:url(images/home/tab-selected.gif) no-repeat 0% 0%;
}
.hsm-tab{
	background:url(images/home/tab-bg.gif);
	height:91px;
	padding:5px;
}
.hsm-tab-block{
	float:left;
	background:url(images/home/tab-block-bg.gif) no-repeat;
	width:124px;
	height:85px;
	margin-right:5px;
}
.hsm-tab-block a{
	font-size:11px;
	display:block;
	margin-top:5px;
	height:22px;
	width:120px;
	padding-left:5px;
	text-align:left;
}
.hsm-tab-block a img{
	float:left;
	margin-right:5px;
}
.hsm-tab-block a.checkout{
	color:#FF3300
}