fieldset{
    border-color: #FF7F50;
    border-radius: 10px;
    padding: 10px;
}
input[type=text]{
    border: 1px solid #008B8B;
    padding: 5px;
}
input[type=checkbox]{
    border: 1px solid #008B8B;
    width: 20px;
    height: 20px;
}
.input-long-text{
    width: 150px;
    text-align: center;
}
.input-short-text{
    width: 50px;
    text-align: center;
}
select{
    border: 1px solid #008B8B;
    padding: 5px;
}
input[type=submit],input[type=button],button{
    border: 1px solid #008B8B;
    min-width: 100px;
    height: 30px;
    cursor: pointer;
    background: none;
    border-radius:25px;
}
.report-title-new{
    color:#2F4F4F;
    text-transform: uppercase;
}